body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
html, body {
  padding-top: 0px;
  padding-bottom: 0px;
  height:100%;
/*   background: #e8e8e8; */
  background: url("../images/background/bg1.gif") repeat 0 0;
}

.sidenav .list-group-item{
	border-width:0px !important;
	border-style:none !important;
}

.headimg {
	width:100%;
	height:240px;
	border-radius: 5px;
}

.headcol {
	padding:5px 14px 0px 14px;
	
}
.my-navbar{
	margin-top: -80px;
	margin-bottom:0px;
}

.mainPanel {
	min-height:735px;
}

.thumbnail_img {
	height:190px !important;
}

.list-appliance-item > i {
	visibility:hidden;
}
.list-appliance-item:hover > i {
	visibility:visible;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
	background: #0993d3 !important; 
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #eee;
	text-decoration: none;
}
/*----------------------------------------------------------------------------------- */
/*  Document Setup */
/*----------------------------------------------------------------------------------- */
  
.panel-black {
	border-color:#222;
}
.panel-black >.panel-heading{
	background-color: #222;
	color:#fff;
	font-size:15px;
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}
::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

::-webkit-scrollbar-track {
  background: #dddddd;
  background: rgba(0, 0, 0, 0.05); 
}
/*----------------------------------------------------------------------------------- */
/*  Login 1 */
/*----------------------------------------------------------------------------------- */
.login-wraper {
  padding: 0;
  background: url(../images/login-blurry-bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative; 
  height:100%;
}
.login-container {
	background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 15px;
    width: 380px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -190px;
    opacity: 0;
    -webkit-transition: all 1s 0.5s;
    -moz-transition: all 1s 0.5s;
    transition: all 1s 0.5s; 
}
.login-container label {
	font-weight:normal !important;
	font-size:16px;
	color: rgb(0, 122, 255);
}

.login-container.active {
	opacity: 1; 
}
.login-container input.form-control {
    height: 48px;
    font-size: 15px;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important; 
}
/*----------------------------------------------------------------------------------- */
/*  Login 1 end*/
/*----------------------------------------------------------------------------------- */
.breadcrumb_reset {
	margin-bottom:0px;
	background-color:transparent;
}
.inline-reset{
	display:inline;
}
.sidebar{
	position:fixed;
	top:210px;
	left:0px;
	z-index:1000;
}
/*----------------------------------------------------------------------------------- */
/*  Custom image upload button */
/*----------------------------------------------------------------------------------- */
.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  .btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    direction: ltr; }
  .btn-file + .fileupload-preview {
    padding: 0 5px 0 10px;
    vertical-align: middle; }

.fileupload .form-control {
  height: 34px;
  display: inline-block;
  box-shadow: none; }
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text; }
.fileupload .img-thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  padding: 0; }
  .fileupload .img-thumbnail > img {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%; }
.fileupload .btn {
  vertical-align: middle;
  margin: 0 2px 0 -1px; }

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
  display: none; }

.fileupload-inline .fileupload-controls {
  display: inline; }

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.thumbnail-borderless .img-thumbnail {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.fileupload-new.thumbnail-borderless .im-thumbnail {
  border: 1px solid #dddddd; }

.fileupload .fileupload-preview + .close {
  vertical-align: middle; }

.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c; }
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c; }
.control-group.warning .fileupload .img-thumbnail {
  border-color: #a47e3c; }
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48; }
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48; }
.control-group.error .fileupload .img-thumbnail {
  border-color: #b94a48; }
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847; }
.control-group.success .fileupload .fileupload-preview {
  color: #468847; }
.control-group.success .fileupload .img-thumbnail {
  border-color: #468847; 
}
/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  font-weight: 300;
/*   margin: 0 10px 10px 0; */
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s; 
  text-shadow:none;}
  .btn.active {
    box-shadow: none; 
  }
  .btn .caret {
    margin: -2px 0 0 6px; }
  .btn [class^="icon-"], .btn[class*="icon-"] {
    display: inline-block;
    margin-right: 10px; }

.btn-default {
  background: #bbbbbb;
  border-color: #bbbbbb;
  color: white; }
  .btn-default .caret {
    border-top-color: white; }
  .btn-default:hover, .btn-default.active {
    background: transparent;
    color: #aaaaaa;
    border-color: transparent !important; }
    .btn-default:hover .caret, .btn-default.active .caret {
      border-top-color: #bbbbbb; }

.btn-primary {
  background: #007aff;
  border-color: #007aff; }
  .btn-primary:hover, .btn-primary.active {
    background: transparent;
    color: #007aff;
    border-color: #007aff; }
    .btn-primary:hover .caret, .btn-primary.active .caret {
      border-top-color: #007aff; }

.btn-success {
  background: #60c560;
  border-color: #60c560; }
  .btn-success:hover, .btn-success.active {
    background: transparent;
    color: #60c560;
    border-color: #60c560; }
    .btn-success:hover .caret, .btn-success.active .caret {
      border-top-color: #bbbbbb; }

.btn-info:hover, .btn-info.active {
  background: transparent;
  color: #5bc0de;
  border-color: #5bc0de; }
  .btn-info:hover .caret, .btn-info.active .caret {
    border-top-color: #5bc0de; }

.btn-warning:hover, .btn-warning.active {
  background: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e; }
  .btn-warning:hover .caret, .btn-warning.active .caret {
    border-top-color: #f0ad4e; }

.btn-danger:hover, .btn-danger.active {
  background: transparent;
  color: #d9534f;
  border-color: #d9534f; }
  .btn-danger:hover .caret, .btn-danger.active .caret {
    border-top-color: #d9534f; }

.btn-magenta {
  background: #d94084;
  border-color: #d94084;
  color: white; }
  .btn-magenta:hover, .btn-magenta.active {
    background: transparent;
    color: #d94084;
    border-color: #d94084; }
    .btn-magenta:hover .caret, .btn-magenta.active .caret {
      border-top-color: #d94084; }

.btn-default-outline, .btn-primary-outline, .btn-success-outline, .btn-info-outline, .btn-warning-outline, .btn-danger-outline {
  background: transparent; }

.btn-default-outline {
  color: #999999;
  border: 1px solid #bbbbbb; }
  .btn-default-outline .caret {
    border-top-color: #bbbbbb; }
  .btn-default-outline:hover, .btn-default-outline.active {
    background: #bbbbbb;
    color: white; }
    .btn-default-outline:hover .caret, .btn-default-outline.active .caret {
      border-top-color: white; }

.btn-primary-outline {
  color: #007aff;
  border: 1px solid #007aff; }
  .btn-primary-outline .caret {
    border-top-color: #007aff; }
  .btn-primary-outline:hover, .btn-primary-outline.active {
    background: #007aff;
    color: white; }
    .btn-primary-outline:hover .caret, .btn-primary-outline.active .caret {
      border-top-color: white; }

.btn-success-outline {
  color: #60c560;
  border: 1px solid #60c560; }
  .btn-success-outline .caret {
    border-top-color: #60c560; }
  .btn-success-outline:hover, .btn-success-outline.active {
    background: #60c560;
    color: white; }
    .btn-success-outline:hover .caret, .btn-success-outline.active .caret {
      border-top-color: white; }

.btn-info-outline {
  color: #5bc0de;
  border: 1px solid #5bc0de; }
  .btn-info-outline .caret {
    border-top-color: #5bc0de; }
  .btn-info-outline:hover, .btn-info-outline.active {
    background: #5bc0de;
    color: white; }
    .btn-info-outline:hover .caret, .btn-info-outline.active .caret {
      border-top-color: white; }

.btn-warning-outline {
  color: #f0ad4e;
  border: 1px solid #f0ad4e; }
  .btn-warning-outline .caret {
    border-top-color: #f0ad4e; }
  .btn-warning-outline:hover, .btn-warning-outline.active {
    background: #f0ad4e;
    color: white; }
    .btn-warning-outline:hover .caret, .btn-warning-outline.active .caret {
      border-top-color: white; }

.btn-danger-outline {
  color: #d9534f;
  border: 1px solid #d9534f; }
  .btn-danger-outline .caret {
    border-top-color: #d9534f; }
  .btn-danger-outline:hover, .btn-danger-outline.active {
    background: #d9534f;
    color: white; }
    .btn-danger-outline:hover .caret, .btn-danger-outline.active .caret {
      border-top-color: white; }

.btn-magenta-outline {
  color: #d94084;
  border: 1px solid #d94084; }
  .btn-magenta-outline .caret {
    border-top-color: #d94084; }
  .btn-magenta-outline:hover, .btn-magenta-outline.active {
    background: #d94084;
    color: white; }
    .btn-magenta-outline:hover .caret, .btn-magenta-outline.active .caret {
      border-top-color: white; }

.btn-group {
  margin: 0 10px 15px 0; }
  .btn-group.pull-right {
    margin-right: 0; }
  .btn-group > .btn {
    margin: 0; }
    .btn-group > .btn + .dropdown-toggle {
      margin-left: 1px; }
      .btn-group > .btn + .dropdown-toggle .caret {
        margin: 0; }
      .btn-group > .btn + .dropdown-toggle[class^="-outline"], .btn-group > .btn + .dropdown-toggle[class*="-outline"] {
        margin-left: -1px; }
  .btn-group.dropup .btn .caret {
    border-bottom-color: white; }
  .btn-group.dropup .btn:hover[class^="-outline"] .caret, .btn-group.dropup .btn:hover[class*="-outline"] .caret {
    border-bottom-color: white; }
  .btn-group.dropup .btn-default:hover .caret, .btn-group.dropup .btn-default-outline .caret {
    border-bottom-color: #bbbbbb; }
  .btn-group.dropup .btn-primary:hover .caret, .btn-group.dropup .btn-primary-outline .caret {
    border-bottom-color: #007aff; }
  .btn-group.dropup .btn-success:hover .caret, .btn-group.dropup .btn-success-outline .caret {
    border-bottom-color: #60c560; }
  .btn-group.dropup .btn-info:hover .caret, .btn-group.dropup .btn-info-outline .caret {
    border-bottom-color: #5bc0de; }
  .btn-group.dropup .btn-warning:hover .caret, .btn-group.dropup .btn-warning-outline .caret {
    border-bottom-color: #f0ad4e; }
  .btn-group.dropup .btn-danger:hover .caret, .btn-group.dropup .btn-danger-outline .caret {
    border-bottom-color: #d9534f; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #007aff; }